@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
--plum: #854795ff;
--black: #080707ff;
--charcoal: #343F4Fff;
--picton-blue: #31A9DDff;
--robin-egg-blue: #1DC1CFff;

/* Un used color gradients */
/* --gradient-top: linear-gradient(0deg, #854795ff, #080707ff, #343F4Fff, #31A9DDff, #1DC1CFff);
--gradient-right: linear-gradient(90deg, #854795ff, #080707ff, #343F4Fff, #31A9DDff, #1DC1CFff);
--gradient-bottom: linear-gradient(180deg, #854795ff, #080707ff, #343F4Fff, #31A9DDff, #1DC1CFff);
--gradient-left: linear-gradient(270deg, #854795ff, #080707ff, #343F4Fff, #31A9DDff, #1DC1CFff);
--gradient-top-right: linear-gradient(45deg, #854795ff, #080707ff, #343F4Fff, #31A9DDff, #1DC1CFff);
--gradient-bottom-right: linear-gradient(135deg, #854795ff, #080707ff, #343F4Fff, #31A9DDff, #1DC1CFff);
--gradient-top-left: linear-gradient(225deg, #854795ff, #080707ff, #343F4Fff, #31A9DDff, #1DC1CFff);
--gradient-bottom-left: linear-gradient(315deg, #854795ff, #080707ff, #343F4Fff, #31A9DDff, #1DC1CFff);
--gradient-radial: radial-gradient(#854795ff, #080707ff, #343F4Fff, #31A9DDff, #1DC1CFff); */
}

*{
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
}

body{
  overflow: hidden;
  background-color: var(--charcoal);
  color: var(--plum);
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 98vh;
}

.image-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('./assets/SignUp.png');
  background-size: cover;
  background-repeat: none;
  color: var(--picton-blue);
}
.image-container .author-link{
  justify-content: end;
}
.image-container h1{
  font-size: xx-large;
  font-weight: 800;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.author-link{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.author-link a{
  color: white;
  text-decoration: none;
}